

.bg-uno {
    background-color: #CDF0EA;
}
.text-uno {
    color: black;
}
.btn-uno {
    background-color: #CDF0EA;
    border-color: #333C83;
    color: black;
}
.bg-due {
    background-color: #F6C6EA;
}

.text-due {
    color: black;
}
.btn-due {
    background-color: #F6C6EA;
    border-color: #333C83;
    color: black;
}


.bg-tre {
    background-color: #FAF4B7;
}

.text-tre {
    color: black;
}

.btn-tre {
    background-color: #FAF4B7;
    border-color: #333C83;
    color: black;
}


.bg-quattro {
    background-color: #FFE6E6;
}

.text-quattro {
    color: black;
}

.btn-quattro {
    background-color: #FFE6E6;
    border-color: #333C83;
    color: black;
}


.bg-cinque {
    background-color: #EF6D6D;
}

.text-cinque {
    color: black;
}

.btn-cinque {
    background-color: #EF6D6D;
    border-color: #333C83;
    color: black;
}



.bg-sei {
    background-color: #C6DCE4;
}

.text-sei {
    color: black;
}

.btn-sei {
    background-color: #C6DCE4;
    border-color: #333C83;
    color: black;
}



.bg-sette {
    background-color: #ECE5C7;
}

.text-sette {
    color: black;
}

.btn-sette {
    background-color: #ECE5C7;
    border-color: #333C83;
    color: black;
}


.bg-otto {
    background-color: #CDC2AE;
}

.text-otto {
    color: black;
}

.btn-otto {
    background-color: #CDC2AE;
    border-color: #333C83;
    color: black;
}

.bg-nove {
    background-color: #FFE5B4;
}

.text-nove {
    color: black;
}

.btn-nove {
    background-color: #FFE5B4;
    border-color: #333C83;
    color: black;
}

.btn-annulla {
    background-color:darkgrey;
    border-color: #47ccfc;
   
}
.bg-annulla {
    background-color:grey;
}









/*
.bg-dieci {
    background-color: #000000;
}

.text-dieci {
    color: #a3d979;
}

.btn-dieci {
    background-color: #000000;
    border-color: #000000;
}


.bg-undici {
    background-color: #000000;
}

.text-undici {
    color: #a3d979;
}

.btn-undici {
    background-color: #000000;
    border-color: #000000;
}

*/
