<?xml version="1.0" encoding="utf-8"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
    </settings>
  </system.net>
  <appSettings>
	  
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="webserver" value="93.63.195.98" />
    <add key="porta" value="8080" />
    <add key="utente" value="enteweb" />
    <add key="pass" value="web01" />
    <add key="dbb" value="Asi" />
    <add key="mailpost" value="smtps.aruba.it" />
	  <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
	
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
	  <globalization
   culture="IT-it"
   uiCulture="IT-it"
   requestEncoding="iso-8859-1"
   responseEncoding="iso-8859-1" />
	  <pages enableViewStateMac="true"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
    <machineKey validationKey="4072919FFB85753E59E88AD8E2605803284315DA2C33A7448373CBAF4147E7245A7B3C0826E17AA40204CD31B85C231D948FF94D5A6D647FB2B447D207B14960" decryptionKey="650BB2475FA87DF20ABE3EBED76420AB1FCEE8E695200F38" validation="SHA1" />
    <customErrors defaultRedirect="~/ErrorPage.aspx?error=0" mode="Off">
      <error statusCode="500" redirect="~/InternalErrorPage.aspx?error=2" />
      <error statusCode="404" redirect="~/PageNotFound.aspx?error=1" />
    </customErrors>
    <healthMonitoring enabled="true" heartbeatInterval="0">
      <providers>
        <clear />
        <add name="MailProvider" type="System.Web.Management.SimpleMailWebEventProvider" to="e.burani@mammutmedia.com" from="noreply@mammutmedia.com" buffer="false" subjectPrefix="ASI APP: " />
      </providers>
      <rules>
        <clear />
        <add name="Errors" eventName="All Errors" provider="MailProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:01:00" custom="" />
      </rules>
    </healthMonitoring>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="600000" executionTimeout="1200" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <httpHandlers>
      <add verb="*" path="OboutInc.UploadProgressHandler.aspx" type="OboutInc.FileUpload.UploadProgressHandler, obout_FileUpload, Version=1.10.806.1, Culture=neutral, PublicKeyToken=c8b4009f4d53d5e5" />
    </httpHandlers>
    <httpModules>
      <add name="OboutUploadModule" type="OboutInc.FileUpload.UploadProgressModule, obout_FileUpload, Version=1.10.806.1, Culture=neutral, PublicKeyToken=c8b4009f4d53d5e5" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="OboutUploadModule" type="OboutInc.FileUpload.UploadProgressModule, obout_FileUpload, Version=1.10.806.1,    Culture=neutral, PublicKeyToken=c8b4009f4d53d5e5" />
    </modules>
    <handlers>
      <add verb="*" path="OboutInc.UploadProgressHandler.aspx" name="UploadProgressHandler" type="OboutInc.FileUpload.UploadProgressHandler, obout_FileUpload, Version=1.10.806.1,   Culture=neutral, PublicKeyToken=c8b4009f4d53d5e5" />
    </handlers>
	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="600000000" />
		  </requestFiltering>
	  </security>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@mammutmedia.com">
        <network defaultCredentials="false" userName="e.burani@mammutmedia.com" password="ebqa34aqAm!" port="587" host="smtps.aruba.it" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-107.1.1" newVersion="107.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>